
@{
    ViewBag.Title = "StartIndex";
}

<h2>Welcome to Longhorn Bank! Select your role in our Longhorn Bank family!</h2>

@using (Html.BeginForm())

{
    <p class="form-group">
        @Html.ActionLink("I am a user", "NewIndex", "Home", null, new { @class = "btn btn-default" })
        @Html.ActionLink("I am a customer", "Index", "Home", null, new { @class = "btn btn-default" })
        @Html.ActionLink("I am an employee", "Index", "Employees", null, new { @class = "btn btn-default" })
        @Html.ActionLink("I am a manager", "Index", "Manager", null, new { @class = "btn btn-default" })

    </p>
}