
@{
    ViewBag.Title = "ApplyBonus";
}

<h2>@ViewBag.ConfirmationMessage</h2>

@using (Html.BeginForm())

{
    <p class="form-group">
        @Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-default" })
    </p>
}